  <%# Navbar  %>
  <div class="navbar bg-dark navbar-expand-sm navbar-light navbar-lewagon position-sticky sticky-top">
    <%= link_to "#", class: "navbar-brand" do %>
      <%= image_tag "https://res.cloudinary.com/paky-images/image/upload/v1589582388/drink_k0bgzd.png", style: "width: 32px" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto" id="navbar-list">
        <li class="nav-item active">
          <%= link_to "Cocktails", "#", class: "nav-link text-white dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown" id="navbarDropdownWindow">
            <% @cocktails.each do |cocktail| %>
              <%= link_to cocktail.name, cocktail_path(cocktail), class: "dropdown-item" %>
            <% end %>
          </div>
        </li>
        <li class="nav-item dropdown">
          <%= image_tag "https://res.cloudinary.com/paky-images/image/upload/w_1000,c_fill,ar_1:1,g_auto,r_max,bo_5px_solid_red,b_rgb:262c35/v1589584389/avatar_fpuw45.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        </li>
      </ul>
    </div>
  </div>

  <%# Banner  %>
<div id="container" class="position-relative" style="background-image: url(<%= cl_image_path('banner_zys9fz') %>)">

  <div class="d-flex justify-content-end">
    <%= cl_image_tag("Mr_Cocktails_1_omvhli") %>
  </div>
  
  <div class="banner-btn d-flex justify-content-center align-items-lg-end">
    <%= link_to "Add a new cocktail", new_cocktail_path, class: "btn btn-primary", id: "banner-btn" %><br>
  </div>
</div>

 <%# Cards %>
<div class="card d-flex flex-row justify-content-around flex-wrap" id="card">
  <% @cocktails.each do |cocktail| %>
      <%= link_to cocktail_path(cocktail), class: "text-decoration-none" do %>
        <div class="card w-75 shadow" id="single-card">
          <%= cl_image_tag cocktail.photo.key, height: 300, width: 400, crop: :fit, class: "p-1" %>
          <div>
            <p><%= cocktail.name %></p>
          </div>
        </div>
      <% end %>
  <% end %>
</div>

